<h2>{{Head}}</h2>
<div id="navbar"></div>

<div id="container"></div>

<form id="formLogout">
  <button type="submit">Logout</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/index.js" type="application/javascript"></script>