<h2>{{Head}}</h2>

<form id="cargaProducts">
  <label for="input_title">Title</label>
  <input
    id="input_title"
    name="title"
    type="text"
    placeholder="insert title"
  /><br />
  <label for="input_description">Description</label>
  <input
    id="input_description"
    name="description"
    type="text"
    placeholder="insert description"
  /><br />
  <label for="input_price">Price</label>
  <input
    id="input_price"
    name="price"
    type="number"
    placeholder="insert price"
  /><br />
  <label for="input_thumbnail">Thumbnail-url</label>
  <input
    id="input_thumbnail"
    name="thumbnail"
    type="text"
    placeholder="insert thumbnail"
  /><br />
  <label for="input_code">Code</label>
  <input id="input_code" name="code" type="text" placeholder="insert code" /><br
  />
  <label for="input_stock">Stock</label>
  <input
    id="input_stock"
    name="stock"
    type="number"
    placeholder="insert stock"
  /><br />
  <label for="input_category">Category</label>
  <input
    id="input_category"
    name="category"
    type="text"
    placeholder="insert category"
  /><br />

  <button type="submit">Guardar</button>
</form>

<script src="/public/js/newProduct.js" type="application/javascript"></script>