<div id="navbar"></div>

<div id="listadoPerfil"> </div>

<h2>Datos usuario</h2>
<p>Nombre completo: {{this.user.first_name}}</p>
<p>Correo electronico: {{this.users.email}}</p>
<p>Edad: {{this.user.age}}</p>

<form id="formLogout">
  <button type="submit">Logout</button>
</form>




<script src="/js/navbar.js"></script>
<script src="/js/index.js" type="application/javascript"></script>